.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 1.5s;
  max-width: fit-content;
  text-align: center;
}

.notification-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkmark {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark svg {
  width: 100%;
  height: 100%;
  overflow: visible; // Đảm bảo rằng SVG không bị cắt xén
}

.checkmark-circle {
  stroke: #4CAF50;
  stroke-width: 4;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  stroke: #4CAF50;
  stroke-width: 4;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
