
.about-section {
  margin-bottom: 50px;
  margin-top: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.history-section {
  margin-bottom: 50px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.core-values-section {
  margin-bottom: 50px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    margin-left: 20px;

    li {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.distributor-section {
  margin-bottom: 50px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.events-section {
  margin-bottom: 50px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
