@use "sass:map";
@import "src/style/pages/theme";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-tabs/style/react-tabs.css";

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  // Ensure items are centered horizontally
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .product-name {
    font-size: 20px;
    margin: 10px 0;
    color: map.get($theme-color, "normal-text");
    transition: color 0.3s ease;
    text-decoration: none !important;

    &:hover {
      color: map.get($theme-color, "main");
      text-decoration: none !important;
    }
  }

  .product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-price {
    font-size: 18px;
    color: map.get($theme-color, "main");
    font-weight: bold;
    margin-bottom: 20px;
  }

  .btn-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .btn-view,
  .btn-add-to-cart {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: map.get($theme-color, "main");
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: map.get($theme-color, "hover-main");
      transform: translateY(-2px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-view {
    background-color: map.get($theme-color, "secondary");

    &:hover {
      background-color: map.get($theme-color, "hover-secondary");
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  select {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;

    &:focus {
      border-color: #80bdff;
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}
