.password-strength {
  margin-top: 10px;

  .strength-bar {
    width: 100%;
    height: 8px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;

    &.strength-weak {
      background-color: #ff4d4d;
      width: 20%;
    }

    &.strength-medium {
      background-color: #ff884d;
      width: 50%;
    }

    &.strength-strong {
      background-color: #ffd24d;
      width: 80%;
    }

    &.strength-very-strong {
      background-color: #4dff88;
      width: 100%;
    }
  }

  .strength-label {
    font-weight: bold;
    text-align: center; /* Căn giữa nhãn */
    color: #333;
    margin-top: 5px;
    font-size: 14px;

    &.strength-weak {
      color: #ff4d4d;
    }

    &.strength-medium {
      color: #ff884d;
    }

    &.strength-strong {
      color: #ffd24d;
    }

    &.strength-very-strong {
      color: #4dff88;
    }
  }
}
