@use "sass:map";
@import "src/style/pages/theme";

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
}

.contact-form, .contact-info, .map {
  width: 30%;
}

.contact-form h2, .contact-info h2, .map h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.contact-input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}